In [1]:
%run '../00_rh_settings.ipynb'
%run '../00_rh_load_interim.ipynb'

Populating the interactive namespace from numpy and matplotlib

In [6]:
df_describe = pd.DataFrame()

In [7]:
df_describe["dtypes"] = df.dtypes

In [8]:
type(df.query("loanKey == '378951'")["federal_district_nm"].get_values()[0])

float

In [9]:
df_describe["NaN_count"] = df.apply(lambda x: x.isna().sum())

In [10]:
df_describe["Unique_count"] = df.apply(lambda x: x.nunique())

In [13]:
df_describe

                             dtypes  NaN_count  Unique_count
Unnamed: 0                    int64          0          4157
loanKey                       int64          0          4157
rep_loan_date        datetime64[ns]          0           582
first_loan           datetime64[ns]          0           634
dpd_5_cnt                   float64       3482             8
dpd_15_cnt                  float64       3482             6
dpd_30_cnt                  float64       3482             4
first_overdue_date   datetime64[ns]       3482            78
close_loans_cnt             float64         15            21
federal_district_nm          object         11             8
TraderKey                     int64          0            23
payment_type_0                int64          0             9
payment_type_1                int64          0            28
payment_type_2                int64          0            26
payment_type_3                int64          0            24
payment_type_4                int64          0             7
payment_type_5                int64          0             1
past_billings_cnt           float64        248            21
score_1                     float64        650          1274
score_2                     float64       3918            47
age                         float64          0            51
gender                         bool          0             2
bad_flag                      int64          0             2

# Check learning from future events

Good candidates for it:

 * first_overdue_date
 * dpd_5_cnt, dpd_15_cnt, dpd_30_cnt

In [27]:
elen(df.query("rep_loan_date == rep_loan_date & first_overdue_date == first_overdue_date"))

675

In [28]:
len(df.query("first_overdue_date > rep_loan_date"))

0

Check overdue dates for clients with their first-time credit

In [33]:
df.query('close_loans_cnt == 0 & rep_loan_date<=first_overdue_date')

Empty DataFrame
Columns: [Unnamed: 0, loanKey, rep_loan_date, first_loan, dpd_5_cnt, dpd_15_cnt, dpd_30_cnt, first_overdue_date, close_loans_cnt, federal_district_nm, TraderKey, payment_type_0, payment_type_1, payment_type_2, payment_type_3, payment_type_4, payment_type_5, past_billings_cnt, score_1, score_2, age, gender, bad_flag]
Index: []

[0 rows x 23 columns]

**Seems good, but needs attention in prod**